.price {
    padding-top: 60px;
    display: block;
    &__wrapper {
        margin: 60px 50px 0 50px;
        display: grid;
        grid-template-columns: repeat(2, 366px);
        grid-template-rows: repeat(3, 44px);
        grid-auto-rows: 44px;
        column-gap: 306px;
        row-gap: 15px;
        &_block {
            display: grid;
            grid-template: 1fr / 1fr;
            justify-content: space-between;
        }
        li {
            list-style-type: none;
        }
        &-text {
            padding-top: 5px;
            padding-left: 14px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        .horizontal {
            grid-row: 2 / 3;
            grid-column: 1 / 4;
        }
        &-name {
            position: relative;
            padding-left: 14px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            &:before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-money {
            padding-left: 5px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
    }
}